<p>Site Navigation</p>
<nav>
	<ul>
		<li>
			Preface
		</li>
		<ul>
			<li>
				Introduction
			</li>
			<li>
				Quickstart
			</li>
			<li>
				Release Notes
			</li>
			<li>
				<a href="/docs/contributing.html">Contributing</a>
			</li>
			<li>
				Reporting Bugs
			</li>
			<li>
				Things to do
			</li>
			<li>
				<a href="/docs/resources.html">Resources</a>
			</li>
		</ul>
		<li>
			Getting Started
		</li>
		<ul>
			<li>
				Installation
			</li>
			<li>
				Examples
			</li>
		</ul>
		<li>
			<a href="/packages.html">Packages</a>
		</li>
		<ul>
			{% for post in site.posts %}
			<li>
				<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</ul>
</nav>
