---

---

<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}" />
	{% endif %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
	{% include topnav.html %}
</header>

<div style="float:left;width:20%;border:1px solid #eee;">
	{% include nav.html %}
</div>

<div style="float:left">
	{{ content }}
</div>

<div style="clear:both"></div>
<hr/>

{% include footer.html %}
{% include analytics.html %}

</body>
</html>
